# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
# Ignore secrets and sensitive files
secrets.yaml
terminal_mac

# Ignore build outputs and ESPHome cache
build/
.esphome/
*.bin

# Ignore logs and temp files
*.log
.DS_Store
